body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    position: relative;
    max-width: 320px;
    min-height: 2100px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #3C464F;
    height: 2300px;
    background: linear-gradient(180deg, #3C464F 46.35%, rgba(65, 75, 85, 0.992108) 63.02%, rgba(121, 142, 162, 0.9) 99.15%, rgba(121, 142, 162, 0.677083) 99.16%, rgba(140, 157, 173, 0.81) 99.17%, rgba(121, 142, 162, 0.59375) 99.99%, rgba(121, 142, 162, 0) 100%);
}


/* 上方導覽列 */

nav {
    display: flex;
}

.wrap {
    width: 320px;
    height: 45px;
    display: flex;
    position: relative;
    margin: auto;
}

.header {
    width: 100%;
    height: 45px;
    background: #2a313a;
    display: flex;
    position: relative;
}

.logo_block {
    margin-top: 3px;
    overflow: hidden;
    width: 440px;
    height: 78px;
}

.logo {
    width: 150px;
    height: 40px;
}

a {
    text-decoration: none;
}

.head_nav {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0%;
    top: 45px;
    width: 100%;
    height: fit;
    display: none;
    flex-wrap: wrap;
    z-index: 99;
    background-color: #2a313a;
}

.menu_click {
    display: block;
    opacity: 1;
    transition: ease-out;
}

.nav_menu {
    display: block;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 5px;
    z-index: 100;
    right: 10px;
    color: #E3E3E3;
}

.nav_btn {
    padding: 10px;
    list-style: none;
    font-size: 14px;
    text-align: center;
    color: #E3E3E3;
}

.nav_btn a:hover {
    color: rgb(95, 97, 99);
}

.nav_btn a {
    text-decoration: none;
    color: #E3E3E3;
}

#login_btn {
    width: 82px;
    height: 36px;
    background: #798EA2;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: #E3E3E3;
    margin: auto;
    list-style: none;
    font-size: 18px;
    color: #E3E3E3;
    float: right;
    margin-right: 50px;
}

#login_btn:hover {
    color: fff;
    background-color: #A3BBD0;
}

nav a {
    margin: auto;
    margin-right: 10px;
}


/* 圖片切換 */

.slider_img1 {
    position: relative;
    width: 320px;
    height: 465px;
    background-image: url("./images/img_main_s.jpg");
    background-position: center;
    background-size: 320px 465px;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    top: 150px;
    left: 35px;
    width: 190px;
    height: 40px;
}

.text {
    position: absolute;
    top: 340px;
    left: 59px;
    width: 214px;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
    color: #E3E3E3;
    text-align: center;
    font-family: 'Rationale', sans-serif;
}

.btn_box {
    position: absolute;
    top: 400px;
    left: 94px;
    background: #798EA2;
    border: 3px solid #E3E3E3;
    box-sizing: border-box;
    width: 131px;
    height: 34px;
    font-size: 18px;
    line-height: 32px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    font-family: 'Rationale', sans-serif;
}

.btn_box:hover {
    color: #fff;
    background-color: #A3BBD0;
    border: 3px solid #fff;
}


/* 下方導覽列 */

.game_body {
    margin-top: 25px;
}

.game_nav {
    position: relative;
    margin: auto;
    display: flex;
    width: 253px;
    height: 31px;
    background: #5A6B79;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav3 {
    position: absolute;
    display: flex;
    width: 253px;
    height: 31px;
    top: 60px;
    left: 0px;
    padding-left: 23px;
    padding-top: 3px;
    background: #5A6B79;
}

.search_bar {
    width: 186px;
    height: 26px;
    background: #3C464F;
}

.search_btn img {
    width: 25px;
    height: 25px;
}

.nav1 {
    display: flex;
    width: 124px;
    height: 31px;
}

#nav1 {
    border-right: 1px solid #000;
}

#nav2 {
    width: 130px;
}

.myshop {
    margin-left: 31px;
    text-align: center;
    font-size: 14px;
    line-height: 31px;
    color: #E3E3E3;
}

#seemore {
    margin-left: 45px;
}

#nav_btn2 {
    margin-top: 7%;
}

.game_nav_btn {
    width: 0;
    height: 0;
    margin-top: 8%;
    margin-right: 3%;
    border-style: solid;
    border-width: 13px 7px 0 7px;
    border-color: #E3E3E3 transparent transparent transparent;
}

.nav1:hover {
    background-color: #4B5964;
}


/* 熱門免費遊戲 */

.download_btn:hover {
    background-color: #aec0cf;
    color: #fff;
    border: 1px solid #fff;
}

.hotgame_text {
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #E3E3E3;
}

.freegame_item {
    display: flex;
    margin: auto;
    padding-top: 10px;
    width: 253px;
    height: 220px;
    background: #5A6B79;
    padding-top: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.download_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #9EB6CC;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 25px;
    color: #E3E3E3;
    width: 100px;
    height: 25px;
}

.img_freegame {
    width: 204px;
    height: 161px;
}

.free {
    width: 228px;
    height: 161px;
    padding-left: 24px;
}


/* 下方遊戲列 */

.maingamebox {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 32px;
    margin: auto;
    flex-flow: row wrap;
    margin: auto;
}

.discount_shop {
    font-size: 18px;
    line-height: 28px;
    color: #E3E3E3;
}

.seemore_btn {
    margin-top: 7px;
    width: 70px;
    height: 18px;
    border: 1px solid #E3E3E3;
    color: #E3E3E3;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}

.maingamebox a {
    width: 70px;
}

.seemore_btn:hover {
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
}

.img_game {
    width: 256px;
    height: 121px;
}

.maingame_container {
    width: 280px;
    height: 1046px;
    margin: auto;
    margin-top: -10px;
}

.maingame1-3 {
    display: flex;
    justify-content: space-between;
    max-width: 1126px;
    margin: auto;
    margin-top: 20px;
    margin-left: 11px;
    flex-flow: row wrap;
}

.maingame {
    /* margin: auto; */
    margin-bottom: 20px;
}

.price_bar {
    font-family: 'Rationale', sans-serif;
    display: flex;
    margin-top: -3px;
    width: 256px;
    height: 33px;
    background: #5A6B79;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.discount_bar {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #B5D3B3;
    margin: auto;
    margin-left: 125px;
    width: 68px;
    height: 25px;
    background: #728E78;
}

.price {
    font-family: 'Rationale', sans-serif;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: #E3E3E3;
    margin-right: 10px;
}

#title2 {
    margin-left: 35px;
}

.item_btn {
    text-align: center;
    font-size: 18px;
    line-height: 51px;
    color: #B6DCFF;
    width: 142px;
    height: 51px;
    background: #566F87;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient( 45deg, rgba(85, 108, 134, 0.5) 0, rgba(85, 108, 134, 0.5) 25%, rgba(129, 154, 177, 0.5) 25%, rgba(129, 154, 177, 0.5) 50%, rgba(85, 108, 134, 0.5) 50%, rgba(85, 108, 134, 0.5) 75%, rgba(129, 154, 177, 0.5) 75%, rgba(129, 154, 177, 0.5));
    background-size: 50px 50px;
}

.other_item_btn {
    display: flex;
    justify-content: space-between;
    width: 291px;
    margin: auto;
    margin-top: 10px;
    flex-flow: row wrap;
}

.boxa {
    margin-bottom: 10px;
}

.m6 {
    margin-bottom: 0;
}

.item_btn:hover {
    background: linear-gradient( 45deg, rgba(66, 84, 105, 0.5) 0, rgba(66, 84, 105, 0.5) 25%, rgba(108, 130, 151, 0.5) 25%, rgba(108, 130, 151, 0.5) 50%, rgba(66, 84, 105, 0.5) 50%, rgba(66, 84, 105, 0.5) 75%, rgba(108, 130, 151, 0.5) 75%, rgba(108, 130, 151, 0.5));
    background-size: 50px 50px;
    color: #DDEFFF;
}


/* footer  */

.footer_container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 112px;
    background: #2a313a;
}

.footer_wrap {
    padding-top: 5px;
    margin: auto;
    width: 320px;
    height: 112px;
}

.footer_btn {
    list-style: none;
    font-size: 14px;
    color: #E3E3E3;
    padding-left: 16px;
    margin-top: 12px;
    display: flex;
    width: 300px;
    height: 16px;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    line-height: 18px;
    width: 251px;
    height: 18px;
    color: #E3E3E3;
    font-family: 'Rationale', sans-serif;
    margin-left: 39px;
    margin-top: 15px;
}

.language_option {
    margin-left: 105px;
}

.form {
    font-family: 'Rationale', sans-serif;
    background-color: #2a313a;
    color: #E3E3E3;
}

.footer_btn a {
    color: #E3E3E3;
}

.footer_btn a:hover {
    color: #787a7c;
}

select,
option {
    font-size: 14px;
    margin-top: 0px;
}


/* 熱門免費遊戲RWD */

* {
    box-sizing: border-box;
}

.m1,
.m2,
.m3,
.m4,
.m5,
.m6 {
    width: 100%;
}


/* @media (min-width: 320px) {
} */

@media (min-width: 768px) {
    body {
        height: 1810px;
        background: linear-gradient(180deg, #3C464F 46.35%, rgba(65, 75, 85, 0.992108) 63.02%, rgba(121, 142, 162, 0.9) 99.15%, rgba(121, 142, 162, 0.677083) 99.16%, rgba(140, 157, 173, 0.81) 99.17%, rgba(121, 142, 162, 0.59375) 99.99%, rgba(121, 142, 162, 0) 100%);
    }
    .container {
        max-width: 768px;
        min-height: 1300px;
    }
    /* 上方導覽列 */
    .wrap {
        width: 768px;
        height: 45px;
        display: flex;
        position: relative;
        margin: auto;
    }
    .header {
        height: 52px;
    }
    .nav_btn {
        font-size: 14px;
    }
    .logo_block {
        margin-top: 0;
        overflow: hidden;
        width: 440px;
        height: 78px;
    }
    .logo {
        width: 201px;
        height: 45px;
    }
    .head_nav {
        position: relative;
        top: 0;
        background-color: transparent;
        margin-top: 5px;
        margin-right: 20px;
        width: 300px;
        height: 31px;
        justify-content: space-between;
    }
    #login_btn {
        width: 82px;
        height: 36px;
        background: #798EA2;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        color: #E3E3E3;
        margin: auto;
        list-style: none;
        font-size: 14px;
        color: #E3E3E3;
    }
    .nav_menu {
        display: none;
    }
    .head_nav {
        display: block;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    /* 圖片切換 */
    .slider_img1 {
        position: relative;
        width: 768px;
        height: 457px;
        background-image: url("./images/img_main_m.jpg");
        background-size: 768px 457px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        top: 90px;
        left: 30px;
        width: 320px;
        height: 70px;
    }
    .text {
        font-size: 18px;
        left: 85px;
        top: 250px;
        width: 276px;
        height: 63px;
        text-align: left;
    }
    .btn_box {
        top: 315px;
        left: 85px;
        width: 158px;
        height: 41px;
        font-size: 24px;
        line-height: 41px;
    }
    /* 下方導覽列 */
    .game_nav {
        width: 678px;
        height: 42px;
    }
    .nav1 {
        height: 42px;
        border-right: 1px solid;
    }
    .myshop {
        width: 130px;
        line-height: 42px;
        margin-left: 17px;
        text-align: center;
        font-size: 18px;
        color: #E3E3E3;
    }
    .game_nav_btn {
        margin-top: 10%;
        margin-right: 10%;
        border-style: solid;
        border-width: 15.6px 9px 0 9px;
        border-color: #E3E3E3 transparent transparent transparent;
    }
    #nav2 {
        width: 100px;
        border-right: 1px solid #000;
    }
    #nav_btn2 {
        margin-top: 12%;
    }
    #seemore {
        margin-left: 22px;
    }
    .nav3 {
        position: absolute;
        display: flex;
        top: 2px;
        left: 391px;
    }
    .search_bar {
        width: 245px;
        height: 35px;
        margin-top: -2px;
    }
    .search_btn img {
        width: 35px;
        height: 35px;
    }
    /* 免費遊戲 */
    .hotgame_text {
        font-size: 18px;
        margin: 20px;
        text-align: center;
        line-height: 28px;
        color: #E3E3E3;
    }
    .freegame_item {
        padding-top: 20px;
        margin-left: 47px;
        width: 679px;
        height: 225px;
        margin: auto;
    }
    .img_freegame {
        width: 166px;
        height: 161px;
    }
    .free {
        width: 193px;
        height: 161px;
        padding-left: 27px;
    }
    .download_btn {
        margin-top: 5px;
        line-height: 25px;
        width: 96px;
        height: 25px;
        font-size: 14px;
    }
    /* 優惠遊戲 */
    .maingame_container {
        width: 680px;
        height: 640px;
        margin-top: 40px;
    }
    .maingamebox {
        width: 580px;
        height: 18px;
    }
    .other_item_btn,
    .discount_shop {
        margin-top: 14px;
        width: 671px;
        margin-left: -50px;
    }
    .other_item_btn {
        display: flex;
        justify-content: space-between;
        width: 680px;
        margin: auto;
        margin-top: 20px;
        flex-flow: row wrap;
    }
    .img_game {
        width: 331px;
        height: 149px;
    }
    .price_bar {
        width: 331px;
        height: 46px;
    }
    .maingame1-3 {
        display: flex;
        justify-content: space-between;
        max-width: 1126px;
        margin: auto;
        margin-top: 20px;
        flex-flow: row wrap;
    }
    #title2 {
        margin-left: 43px;
    }
    .price {
        font-size: 24px;
        line-height: 46px;
        margin-right: 5px;
    }
    .m1,
    .m2,
    .m3 {
        width: 48.5%;
    }
    .m4,
    .m5,
    .m6 {
        width: 48.5%;
    }
    .t1 {
        width: 50%;
    }
    .t2 {
        width: 20%;
    }
    .item_btn {
        text-align: center;
        font-size: 18px;
        line-height: 52px;
        width: 142px;
        height: 52px;
    }
    .seemore_btn {
        width: 114px;
        height: 32px;
        border: 1px solid #E3E3E3;
        color: #E3E3E3;
        text-align: center;
        line-height: 32px;
    }
    .discount_shop {
        margin-top: 10px;
        font-size: 18px;
        line-height: 28px;
    }
    .discount_bar {
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: #B5D3B3;
        margin: auto;
        margin-left: 160px;
        width: 98px;
        height: 38px;
        background: #728E78;
    }
    /* 頁腳 */
    .footer_container {
        position: relative;
        margin-top: 20px;
        height: 73px;
        background: #2a313a;
        display: flex;
    }
    .footer_btn {
        display: flex;
        list-style: none;
        font-size: 14px;
        color: #E3E3E3;
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        width: 350px;
        height: 29px;
        justify-content: space-between;
    }
    .copyright {
        position: absolute;
        font-size: 14px;
        line-height: 21px;
        color: #E3E3E3;
        font-family: 'Rationale', sans-serif;
        margin-left: 39px;
        margin-top: 42px;
    }
    .language_option {
        margin-top: 25px;
        margin-left: 50px;
    }
    .form {
        font-family: 'Rationale', sans-serif;
        background-color: #2a313a;
        color: #E3E3E3;
        margin-left: 220px;
    }
    .footer_wrap {
        margin: auto;
        width: 768px;
        height: 73px;
        display: flex;
    }
    select,
    option {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    body {
        height: 1960px;
        background: linear-gradient(180deg, #3C464F 46.35%, rgba(65, 75, 85, 0.992108) 63.02%, rgba(121, 142, 162, 0.9) 99.15%, rgba(121, 142, 162, 0.677083) 99.16%, rgba(140, 157, 173, 0.81) 99.17%, rgba(121, 142, 162, 0.59375) 99.99%, rgba(121, 142, 162, 0) 100%);
    }
    .container {
        max-width: 1280px;
        min-height: 1810px;
    }
    /* 上方導覽列 */
    .header {
        height: 87px;
    }
    .wrap {
        width: 1280px;
        height: 78px;
        display: flex;
        position: relative;
        margin: auto;
    }
    .logo_block {
        margin-top: 0;
        overflow: hidden;
        width: 440px;
        height: 78px;
    }
    .logo {
        width: 385px;
        height: 80px;
    }
    .head_nav {
        margin-top: 0%;
        margin-left: 200px;
        margin-right: 10px;
        width: 550px;
        height: 87px;
        justify-content: space-between;
    }
    .nav_btn {
        margin: auto;
        font-size: 18px;
    }
    #login_btn {
        width: 82px;
        height: 36px;
        background: #798EA2;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        color: #E3E3E3;
        margin: auto;
        list-style: none;
        font-size: 18px;
        color: #E3E3E3;
    }
    nav a {
        margin: auto;
        margin-right: 10px;
    }
    /* 圖片切換 */
    .slider_img1 {
        position: relative;
        width: 1280px;
        height: 673px;
        background-image: url("./images/img_main.jpg");
        background-position: center;
        background-size: 1400px 673px;
    }
    .title {
        top: 125px;
        left: 50px;
        width: 400px;
        height: 100px;
    }
    .text {
        top: 350px;
        left: 130px;
        width: 367px;
        height: 88px;
        font-size: 24px;
        line-height: 28px;
    }
    .btn_box {
        top: 450px;
        left: 130px;
        width: 269px;
        height: 65px;
        font-size: 36px;
        line-height: 60px;
    }
    /* 下方導覽列 */
    .game_body {
        margin-top: 25px;
    }
    .game_nav {
        width: 1127px;
        height: 66px;
    }
    .nav3 {
        position: absolute;
        display: flex;
        top: 7px;
        left: 723px;
        width: 400px;
        height: 37px;
    }
    .search_bar {
        width: 333px;
        height: 50px;
        margin: 2px;
    }
    .nav1 {
        width: 130px;
        height: 66px;
    }
    #nav2 {
        width: 100px;
    }
    .myshop {
        margin-left: 17px;
        font-size: 18px;
        line-height: 66px;
    }
    #seemore {
        margin-left: 22px;
    }
    #nav_btn2 {
        margin-top: 25%;
    }
    .game_nav_btn {
        width: 0;
        height: 0;
        margin-top: 20%;
        margin-left: 3%;
    }
    .search_btn img {
        width: 52px;
        height: 52px;
        margin-top: 2px;
    }
    /* 免費遊戲 */
    .hotgame_text {
        margin: 20px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #E3E3E3;
    }
    .freegame_item {
        display: flex;
        margin: auto;
        padding-top: 20px;
        width: 1127px;
        height: 315px;
        background: #5A6B79;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .download_btn {
        margin-top: 17px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background: #9EB6CC;
        border: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 18px;
        line-height: 34.53px;
        color: #E3E3E3;
        width: 125.43px;
        height: 34.53px;
        margin-right: 32%;
    }
    .img_freegame {
        width: 230px;
        height: 230px;
    }
    .free {
        width: 250px;
        height: 230px;
        /* margin: auto; */
    }
    /* 優惠遊戲 */
    .img_game {
        width: 360px;
        height: 149px;
    }
    .maingame_container {
        width: 1126px;
        height: 430px;
        margin: auto;
    }
    .maingamebox {
        width: 1000px;
        height: 32px;
    }
    .other_item_btn,
    .discount_shop {
        width: 1126px;
    }
    .price_bar {
        width: 360px;
        height: 46px;
    }
    .price {
        margin-right: 20px;
    }
    .m1,
    .m2,
    .m3 {
        width: 32%;
    }
    .m4,
    .m5,
    .m6 {
        width: 32%;
    }
    .t1 {
        width: 70%;
        margin-left: -62px;
    }
    .t2 {}
    .item_btn {
        line-height: 84px;
        font-size: 24px;
        width: 231px;
        height: 84px;
    }
    .other_item_btn {
        justify-content: space-between;
        width: 1126px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .discount_shop {
        margin-top: 10px;
        font-size: 24px;
        line-height: 28px;
    }
    #title2 {
        margin-left: 75px;
    }
    /* 頁腳 */
    .footer_wrap {
        width: 1280px;
        height: 73px;
        display: flex;
    }
    .footer_container {
        position: relative;
        margin-top: 20px;
        height: 73px;
        background: #2a313a;
        display: flex;
    }
    .footer_btn {
        position: absolute;
        left: 25%;
        display: flex;
        list-style: none;
        font-size: 18px;
        color: #E3E3E3;
        margin-left: 250px;
        margin-top: 26px;
        display: flex;
        width: 454px;
        height: 29px;
        justify-content: space-between;
    }
    .footer_btn a {
        color: #E3E3E3;
    }
    .footer_btn a:hover {
        color: #787a7c;
    }
    .copyright {
        font-size: 18px;
        line-height: 21px;
        color: #E3E3E3;
        width: 400px;
        height: 27px;
        font-family: 'Rationale', sans-serif;
        margin-left: 39px;
        margin-top: 27px;
    }
    .language_option {
        margin-top: 25px;
        margin-right: 0px;
    }
    .footer_wrap {
        margin: auto;
        width: 1280px;
        height: 73px;
    }
    .form {
        margin-left: 1030px;
    }
    select,
    option {
        font-size: 18px;
    }
}